$breakpoints: (
  'xsmall': 515px,
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

$colors: (
  primary: #2c3e50,
  secondary:#00bc77,
  grey: #f6f6f6,
  starGrey: #e3e3e3,
  white: #ffffff,
  black: #000000,
  dark : #12002b
);

$font: ('Montserrat', sans-serif);
